body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f60;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    margin: 10px;
    text-align: center;
    transition: background-color 0.6s ease;
}

h1:hover {
    background-color: #006400;
}

h1 a {
    text-decoration: none;
    color: white;
}

h1 a:hover {
    text-decoration: underline;
}

.title {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    margin: 10px;
    text-align: center;
    border-radius: 10px;
}